


/*** 

====================================================================
	Sidebar Page Container
====================================================================

***/

.sidebar-page-container {
    position: relative;
    padding: 100px 0px 100px;
}

.sidebar-page-container .inner-container {
    position: relative;
    margin-bottom: 50px;
    border-bottom: 1px solid #d5d5d5;
}

.sidebar-page-container .content-side,
.sidebar-page-container .sidebar-side {
    margin-bottom: 40px;
}

.sidebar-widget {
    position: relative;
    margin-bottom: 42px;
}

/*Sidebar Title*/

.sidebar-title {
    position: relative;
    margin-bottom: 20px;
}

.sidebar-title h2 {
    font-size: 22px;
    color: $grey4;
    font-weight: 700;
    line-height: 1.2em;
    display: inline-block;
    text-transform: capitalize;
}

.sidebar-title h2:after {
    position: absolute;
    content: "";
    left: 105%;
    bottom: 4px;
    width: 35px;
    height: 2px;
    background-color: #bdaca8;
}

/*Search Box Widget*/

.sidebar .search-box .form-group {
    position: relative;
    margin: 0px;
}

.sidebar .search-box .form-group input[type="text"],
.sidebar .search-box .form-group input[type="search"] {
    position: relative;
    line-height: 30px;
    padding: 10px 50px 10px 20px;
    border: 1px solid #d3d3d3;
    background: none;
    display: block;
    font-size: 15px;
    width: 100%;
    height: 52px;
    color: #909090;
    transition: all 500ms ease;
   
}

.sidebar .search-box .form-group button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 52px;
    width: 60px;
    display: block;
    font-size: 16px;
    color: #4c4c4c;
    line-height: 100%;
    font-weight: normal;
    background: none;
}