
/*** 

====================================================================
	We Do Section
====================================================================

***/

.we-do-section {
    position: relative;
    padding: 95px 0px 70px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.we-do-section .title-column {
    position: relative;
    margin-bottom: 35px;
}

.we-do-section .title-column .inner-column {
    position: relative;
    padding-right: 70px;
    border-right: 1px solid #d2d2d2;
}

.we-do-section .title-column .bold-text {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    font-weight: 700;
    color: #494b55;
    margin-bottom: 8px;
}

.we-do-section .title-column .text {
    position: relative;
    color: #797979;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 22px;
}

.we-do-section .content-column {
    position: relative;
}

.we-do-section .content-column .inner-column {
    position: relative;
    padding-left: 40px;
    padding-right: 120px;
}

.we-do-section .content-column .inner-column h2 {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    color: #494b55;
    line-height: 1.4em;
    margin-bottom: 18px;
}

.we-do-section .content-column .inner-column .text {
    position: relative;
    color: #797979;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 28px;
}

.we-do-section .content-column .inner-column .request-call {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: #bdaca8;
    text-transform: uppercase;
    border-bottom: 1px solid #bdaca8;
}
