
/*** 

====================================================================
	Portfolio Section
====================================================================

***/

.portfolio-section {
    position: relative;
}

.gallery {
    &-content {
        position: relative;
        margin-bottom: 30px;
    
        &.style-two .inner-box {
            background-color: $grey25;
        }
    
        .inner-box {
            position: relative;
            padding: 74px 40px;
            background-color: $grey5;
    
            h2 {
                position: relative;
                margin-bottom: 15px;
                
                color: $white;
    
                @include font(32, 32*1.2, 700);
            }
            
            .text {
                position: relative;
                font-size: 16px;
                color: $white;
            }
        }
    }
    
    &-list {
        position: relative;
    
        li {
            position: relative;
            margin-bottom: 4px;
           
            color: rgba($white, 0.4);
           
            @include font(15, 15*1.5, 40, $ffText);
    
            &.list-text {
                margin-bottom: 18px;
            }
    
            a {
                position: relative;
                color: rgba($white, 0.4);
            }
        }
    }
    
    
}

