
/*** 

====================================================================
	Blog Page Section
====================================================================

***/

.blog-page-section {
    position: relative;
    padding: 100px 0px 100px;

    .inner-container {
        position: relative;
        margin-bottom: 50px;
        border-bottom: 1px solid #d5d5d5;
    }
    
}

