
/*** 

====================================================================
	Contact Section
====================================================================

***/

.contact-section {
    position: relative;
    padding: 90px 0px 0px;
    margin-bottom: 60px;
    background-position: right bottom;
    background-repeat: no-repeat;

    .form-column {
        position: relative;
        margin-bottom: 0px;

        .inner-column {
            position: relative;
            padding-right: 40px;

            .text {
                position: relative;
                color: #797979;
                font-size: 17px;
                margin-bottom: 45px;
            }
        }
    }

    .info-column {
        position: relative;

        .inner-column {
            position: relative;
            padding-left: 70px;
        }

        ul {
            position: relative;

            li {
                position: relative;
                color: #494b55;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 40px;

                span {
                    position: relative;
                    color: #494b55;
                    font-size: 15px;
                    display: block;
                    font-weight: 600;
                    margin-bottom: 18px;
                    text-transform: uppercase;
                }
            }
            
        }
    }
    
}






