{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

{{- partial "header.html" . -}}

{{ if .Params.hero_title }}
{{- partial "_hero.html" . -}}
{{ else }}
<section class="page-hero">
<div class="container">
<h1>
{{ .Title | truncate 200 }}
</h1>
</div>
</section>

{{ end }}


{{- partial "_breadcrumbs.html" . -}}
<article class="page-main"> 
	<section class="page-container">
		<div class="page-content">
			
			<div> 
				
				{{ if .Content }}
					{{.Content }}
				{{ end }}

			</div>
		
		</div>
	</section>


</article>
{{- partial "_contacts.html" . -}}
{{- partial "footer.html" . -}}

{{ end }}